*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    position: relative;
}
footer
{
    background-color: #ff8103;
    color: #fff;
    font-family: 'Anton', sans-serif;
    text-align: center;
}