.principal
{
    width: 100%;
    background-color: #fefefe;
}
.banner
{
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.b1
{
    background-image: url("../recursos/img_static/bbg1.jpg");
}
.b2
{
    background-image: url("../recursos/img_static/bbg2.jpg");
}
.b3
{
    background-image: url("../recursos/img_static/bbg3.jpg");
}
.b4
{
    background-image: url("../recursos/img_static/bbg4.jpg");
}
.b5
{
    background-image: url("../recursos/img_static/bg1.jpg");
}
.bblur
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bblur img
{
    height: 100%;
}
.bblur h1
{
    margin-right: 5vw;
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: 7vh;
}
@media screen and (max-width:500px)  
{
    .bblur
    {
        flex-direction: column;
    }
    .bblur img 
    {
        height: 50%;
    }
    .bblur h1
    {
        margin-right: 0;
    }
}
.aclaracion_valor
{
    width: 100%;
    padding: 5vh 5vw;
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 3vh;
}
/*propiedades*/
.buscador
{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#propertySearchForm
{
    width: 90%;
    margin: 5vh 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.btn_prop
{
    padding:1vh 1.5vh;
}
.list_prop
{
    width: 100%;
    min-height: 600px;
    background-color: #ff8103;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/*nosotros*/
.sobre
{
    display: flex;
    flex-wrap: wrap;
}
.sobre h2, .sobre p
{
    width: 50%;
    height: 50vh;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}
.sobre h2
{
    font-family: 'Anton', sans-serif;
    font-size: 10vh;
    color: #ff8103;
    font-weight: 500;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, .7);
}
.sobre p
{
    font-family: 'Poppins', sans-serif;
    font-size: 3vh;
}
.valores
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card_valores
{
    width: 300px;
    margin: 5vw;
}
.card_valores h2
{
    font-family: 'Anton', sans-serif;
    color: #ff8103;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, .7);
    font-weight: 500;
}
.card_valores p
{
    font-family: 'Poppins', sans-serif;
    margin-top: 2vh;
}
/**/
.facs
{
    width: 100%;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pregunta
{
    width: 45%;
    height: 40vh;
    padding: 10%;
}
.pregunta h3
{
    font-family: 'Anton', sans-serif;
}
.pregunta p
{
    font-family: 'Poppins', sans-serif;
    color: #ff8103;
    font-weight: 600;
}
/**/
.capas
{
    background-color: #ff8103;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.capas h2
{
    text-align: center;
    padding: 5% 0;
    font-family: 'Anton', sans-serif;
    font-size: 7vh;
    color: #fefefe;

}
.capas img
{
    width: 50%;
}
.capacitaciones
{
    width: 95%;
    min-height: 500px;
    border-radius: 15px;
    border: solid 1px #000;
    margin: 5vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fefefe;
}
/**/
@media screen and (max-width:500px) 
{
    #propertySearchForm
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .btn_prop
    {
        margin: 10px 0;
    }
    /**/
    .sobre h2
    {
        font-size: 7vh;
    }
    .sobre h2, .sobre p
    {
        width: 100%;
        height: 70vh;
        padding: 5vw;
    }
}
