.principal
{
    width: 100%;
}
.banner
{
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.b1
{
    background-image: url("../recursos/img_static/bbg1.jpg");
}
.b2
{
    background-image: url("../recursos/img_static/bbg2.jpg");
}
.b3
{
    background-image: url("../recursos/img_static/bbg3.jpg");
}
.b4
{
    background-image: url("../recursos/img_static/bbg4.jpg");
}
.b5
{
    background-image: url("../recursos/img_static/bg1.jpg");
}
.bblur
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bblur img
{
    height: 100%;
}
.bblur h1
{
    margin-right: 5vw;
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: 7vh;
}
@media screen and (max-width:500px)  
{
    .bblur
    {
        flex-direction: column;
    }
    .bblur img 
    {
        height: 50%;
    }
    .bblur h1
    {
        margin-right: 0;
    }
}
/*propiedades*/
.buscador
{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#propertySearchForm
{
    width: 90%;
    margin: 5vh 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.btn_prop
{
    padding:1vh 1.5vh;
}
.list_prop
{
    width: 100%;
    min-height: 600px;
    background-color: #ff8103;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:500px) 
{
    #propertySearchForm
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .btn_prop
    {
        margin: 10px 0;
    }
}
